@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.header nav{
    display: flex;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    margin-bottom: 20px;
}

.header nav .link{
    margin: 10px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: white;
}

.header nav .link:active{
    color: rgb(255, 145, 0);
}

.header nav .link:focus{
    color: rgb(255, 145, 0);
}